In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#Importing Dataset
data=pd.read_csv('train_bm.csv')

In [6]:
data.shape

(8523, 12)

In [7]:
data.head(5
         )

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [8]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
#Shuffling and creating train and test datasets

In [10]:
from sklearn.utils import shuffle

In [11]:
#shuffling the dataset

In [12]:
data=shuffle(data,random_state = 42)

In [13]:
#Creating 4 divisions
div=int(data.shape[0]/4)

In [14]:
#3 parts to train set and 1 part to test set

train=data.loc[:3*div + 1, :]

In [15]:
test=data.loc[3*div + 1:]

In [17]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7503,FDI28,14.300,Low Fat,0.026300,Frozen Foods,79.4302,OUT013,1987,High,Tier 3,Supermarket Type1,1743.0644
2957,NCM17,7.930,Low Fat,0.071136,Health and Hygiene,42.7086,OUT046,1997,Small,Tier 1,Supermarket Type1,356.8688
7031,FDC14,14.500,Regular,0.041313,Canned,42.0454,OUT049,1999,Medium,Tier 1,Supermarket Type1,377.5086
1084,DRC36,NaN,Regular,0.044767,Soft Drinks,173.7054,OUT027,1985,Medium,Tier 3,Supermarket Type3,5778.4782
856,FDS27,10.195,Regular,0.012456,Meat,197.5110,OUT035,2004,Small,Tier 2,Supermarket Type1,2356.9320

In [18]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6391,DRM23,16.60,Low Fat,0.135944,Hard Drinks,172.0422,OUT049,1999,Medium,Tier 1,Supermarket Type1,2586.6330
2895,FDM27,NaN,Regular,0.277459,Meat,156.3946,OUT019,1985,Small,Tier 1,Grocery Store,473.3838
6814,FDJ57,NaN,Regular,0.000000,Seafood,184.3582,OUT019,1985,Small,Tier 1,Grocery Store,185.7582
7537,FDV08,7.35,Low Fat,0.028571,Fruits and Vegetables,40.8454,OUT013,1987,High,Tier 3,Supermarket Type1,587.2356
3425,NCA17,20.60,Low Fat,0.000000,Health and Hygiene,148.8392,OUT046,1997,Small,Tier 1,Supermarket Type1,2684.5056

# Simple mean model (Mean of Item_Outlet_Sales)

In [19]:
#Storing simple mean in test set as 'simple mean'

In [20]:
test['simple_mean']=train['Item_Outlet_Sales'].mean()

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
#calculating mean absolute error

In [43]:
from sklearn.metrics import mean_absolute_error as MAE

In [25]:
simple_mean_error=MAE(test['Item_Outlet_Sales'], test['simple_mean'])

In [26]:
simple_mean_error

1355.4481105570344

# Mean Item Outlet sales wrt. Outlet_type

In [31]:
out_type=pd.pivot_table(train, values='Item_Outlet_Sales', index=['Outlet_Type'],aggfunc=np.mean)

In [32]:
out_type

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             332.606025
Supermarket Type1        2245.228499
Supermarket Type2        1938.684847
Supermarket Type3        3776.185098

In [33]:
#CALCULATING MEAN ABSOLUTE ERROR

In [34]:
out_type_error = MAE(test['Item_Outlet_Sales'],test['Out_type_mean'])

KeyError: 'Out_type_mean'

In [35]:
#Initializing new column to zero
test['Out_type_mean']=0

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
#For every unique entry in Outlet_Identifier

In [47]:
for i in train['Outlet_Type'].unique(): #Assign mean value corresponding to unique entry
    test['Out_type_mean'][test['Outlet_Type']==str(i)]=train['Item_Outlet_Sales'][train['Outlet_Type']==str(i)].mean()

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rita\anaconda3.x\lib\site-packages\pandas\core\generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [46]:
#CALCULATING MEAN ABSOLUTE ERROR

In [48]:
out_type_error= MAE(test['Item_Outlet_Sales'], test['Out_type_mean'])

In [49]:
out_type_error

1138.8026221064356

# Mean Item Outlet Sales with respect to Outlet_Establishment Year

In [50]:
out_year=pd.pivot_table(train, values='Item_Outlet_Sales', index=['Outlet_Establishment_Year'], aggfunc=np.mean)

In [51]:
out_year

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2547.909733
1987                             2160.883029
1997                             2200.803276
1998                              320.792473
1999                             2245.345807
2002                             2136.727766
2004                             2415.594646
2007                             2320.598343
2009                             1938.684847

In [52]:
#Initializing new colun to zero

test['Out_year_mean']=0

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
# For every unique entry in Outlet_Identifier

for i in train['Outlet_Establishment_Year'].unique():
    #Assign mean values corresponding to unique entry
    test['Out_year_mean'][test['Outlet_Establishment_Year']==str(i)]=train['Item_Outlet_Sales'][train['Outlet_Establishment_Year']==str(i)].mean()

C:\Users\Rita\anaconda3.x\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Rita\anaconda3.x\lib\site-packages\pandas\core\generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [54]:
#Calcluating absolute mean error

In [58]:
out_year_error=MAE( test['Out_year_mean'], test['Item_Outlet_Sales'])

In [59]:
out_year_error

2228.0685878504673

# Mean Item Outlet Sales wrt Outlet_Location_type

In [62]:
out_loc=pd.pivot_table(train, values='Item_Outlet_Sales', index=['Outlet_Location_Type'], aggfunc=np.mean)

In [63]:
out_loc

                      Item_Outlet_Sales
Outlet_Location_Type
Tier 1                      1804.051997
Tier 2                      2288.475485
Tier 3                      2255.793325

In [64]:
test['out_loc_mean']=0

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
for i in train['Oulet_Location_Type'].unique():
    test['out_loc_mean'][test['Outlet_Location_Type']==str(i)]=train['Item_Outlet_Sales'][train['Outlet_Location_Type']==str(i)].mean

KeyError: 'Oulet_Location_Type'

# Mean Item_Outlet_Sales wrt both Outlet_Location_Type and Outlet_Establishment _Year

In [70]:
combo=pd.pivot_table(train,values='Item_Outlet_Sales', index=['Outlet_Location_Type', 'Outlet_Establishment_Year'], aggfunc=np.mean)

combo

In [71]:
combo

                                                Item_Outlet_Sales
Outlet_Location_Type Outlet_Establishment_Year
Tier 1               1985                              344.882031
                     1997                             2200.803276
                     1999                             2245.345807
Tier 2               2002                             2136.727766
                     2004                             2415.594646
                     2007                             2320.598343
Tier 3               1985                             3776.185098
                     1987                             2160.883029
                     1998                              320.792473
                     2009                             1938.684847

In [72]:
# initiating new empty column

In [73]:
test['Super_mean']=0

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
#Assigning variables to strings to shorten code length

In [75]:
s2='Outlet_Location_Type'
s1='Outlet_Establishment_Year'

In [79]:
#For  every unique value in s1
for i in test[s1].unique():
    #for every unique value in s2
    for j in test[s2].unique():
        #Calculate and assign mean to new column , corresponding to both unique values of s1 and s2 simultaneously
        test['Super_mean'][(test[s1]==i)&(test[s2]==str(j))]=train['Item_Outlet_Sales'][(train[s1]==i)&(train[s2]==str(j))].mean()

C:\Users\Rita\anaconda3.x\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rita\anaconda3.x\lib\site-packages\pandas\core\generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [80]:
#Calculating mean absolute error

Super_mean_error = MAE(test['Item_Outlet_Sales'], test['Super_mean'])

In [82]:
Super_mean_error

1140.0522313200124